# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
flutter_*.symlinks/
flutter_export_environment.sh
generated_plugin_registrant.dart

# IntelliJ / Android Studio
*.iml
.idea/
.gradle/

# Miscellaneous
.DS_Store
*.log

# Python artifacts
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
venv/
.venv/
env/
.env/
*.db
*.spec
